[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
beautifulsoup4 = "==4.12.3"
django = "==3.2.6"
django-bootstrap4 = "==3.0.1"
django-filter = "==2.4.0"
pillow = "==10.2.0"
pytz = "==2024.1"
soupsieve = "==2.5"
sqlparse = "==0.4.4"
typing-extensions = "==4.10.0"

[dev-packages]

[requires]
python_version = "3.11"
