{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<style>
  .center-text{
    text-align: center;
    font-size: 36px;
    color: #4054b2;
  }
  .custom-text{
    text-align: justify;
    font-size: 16px;
  }
  .image-container {
        position: relative;
        overflow: hidden;
    }

    .image-container:hover .image-overlay {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<div class="m-3">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <img src="{%static 'images/direct_hire.png' %}" class="d-block w-100" alt="..." style="height:2%">
      </div> -->
      <div class="carousel-item active">
        <img src="{%static 'images/b_2.png' %}" class="d-block w-100" alt="..." style="height:2%">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/b_3.jpg' %}" class="d-block w-100" alt="..." style="height:2%">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/b_4.jpg' %}" class="d-block w-100" alt="..." style="height:2%">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/b_5.jpg' %}" class="d-block w-100" alt="..." style="height:2%">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/b_6.jpg' %}" class="d-block w-100" alt="..." style="height:2%">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <h2 class="w3-padding center-text">About Direct Hire </h2>
  <p class="about-text w3-padding custom-text">
        A blue-collar worker is a working class person who performs manual labor. Blue-collar work may involve skilled or unskilled labor. The type of work may involve 
    manufacturing, warehousing, mining, excavation, electricity generation and power plant operations, electrical construction and maintenance, custodial work, farming, 
    commercial fishing, logging, landscaping, pest control, food processing, oil field work, waste collection and disposal, recycling, construction, maintenance, 
    shipping, driving, trucking and many other types of physical work. Blue-collar work often involves something being physically built or maintained.
        In contrast, the white-collar worker typically performs work in an office environment and may involve sitting at a computer or desk. A third type of work is a 
    service worker (pink collar) whose labor is related to customer interaction, entertainment, sales or other service-oriented work. Many occupations blend blue, white, 
    or pink-collar work and are often paid hourly wage-labor, although some professionals may be paid by the project or salaried. There are a wide range of payscales for 
    such work depending upon field of specialty and experience.
  </p>
  
    <div class="w3-content w3-padding" style="max-width:1564px">
      <!-- Project Section -->
      <!-- <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
      </div> -->
        <h2 class="w3-padding center-text m-3">Job Categories</h2>
          {% ifequal request.user.user_type 2 %}
          <p></p>
          {% else %}

          <div class="w3-row-padding">
            {% for list in job_list %}
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="image-container">
                    {% if user.is_authenticated %}
                    <a href="#"  class="image-hover">
                        <img src="{{ list.image.url }}" alt="{{ list.job }}" style="width:100%">
                       <div class="image-overlay">
                    <div>{{ list.job }}</div>
                </div>
                    </a>
                    {% else %}
                    <a href="#" onClick="alert('Please Login To Continue !!!')" class="image-hover">
                        <img src="{{ list.image.url }}" alt="{{ list.job }}" style="width:100%">
                       <div class="image-overlay">
                    <div>{{ list.job }}</div>
                </div>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endifequal %}
        </div>
        
          
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<script>
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

{% endblock body %}