{% extends 'index.html' %}
{% load bootstrap4 %}
{% block body %}
<style>
  .w3-display-middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease;
  }

  .image-hover:hover .w3-display-middle {
      opacity: 1;
  }
</style>

<div>
  
  <div class="w3-content w3-padding" style="max-width:1564px">
    <h2 class="w3-padding">Services</h2>
    <!-- Project Section -->
    <!-- <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
    </div> -->
      {% ifequal request.user.user_type 2 %}
        <p></p>
        {% else %}
        <div class="w3-row-padding">
            {% for list in job_list %}
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:emp_list' list.id %}" class="image-hover">
                  <img src="{{ list.image.url }}" alt="{{ list.job }}" style="width:100%">
                  <div class="w3-display-middle w3-black w3-padding">
                    {{ list.job }}
                  </div>
                </a>
                {% else %}
                <a href="#" onClick="alert('Please Login To Continue !!!')" class="image-hover">
                  <img src="{{ list.image.url }}" alt="{{ list.job }}" style="width:100%">
                  <div class="w3-display-middle w3-black w3-padding">
                    {{ list.job }}
                  </div>
                </a>
                {% endif %}

            </div>
          </div>
              {% endfor %}
          {% endifequal %}
        </div>
  </div>
  <br>
  <br>
  <br>
</div>


<script>
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>

{% endblock body %}
