{% extends 'index.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<br>
<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:center">{{ job_name }}</h2>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{ myfilter.form }}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Salary</th>
                    <th>Experience</th>
                    <th>Rating</th>
                    <th>Image</th> <!-- Add a new column for the image -->
                    <th></th>
                </tr>
                {% for emp in emp_list %}
                    <tr>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.city }}</td>
                        <td>{{ emp.amountperhour }}</td>
                        <td>{{ emp.experience }}</td>
                        <td>{{ emp.emp_rating }}</td>
                        <td>
                            {% if emp.image %}
                                <img src="{{ emp.image.url }}" alt="{{ emp.name }}" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                                <!-- Show a default image if no image is available -->
                                <img src="{% static 'images/default_image.png' %}" alt="Default Image" style="max-width: 100px; max-height: 100px;">
                            {% endif %}
                        </td>
                        <td><a href="{% url 'accounts:employeedetails' emp.id %}">Book Appointment</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}
